<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCutHombz9CFzbOXhQz_fdWgTZ7Ou9Rpcc</string>
	<key>GCM_SENDER_ID</key>
	<string>681257160922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.classProject</string>
	<key>PROJECT_ID</key>
	<string>class-project-f1516</string>
	<key>STORAGE_BUCKET</key>
	<string>class-project-f1516.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681257160922:ios:7de0b4439d2728882f15e3</string>
</dict>
</plist>